
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font: 14px/1.6 sans;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #284900;
  background: rgba(255,255,255,0.95);

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  padding-bottom: 30px;
}

ul {
    margin: 0 0 0 -10px;
    padding: 0;
}
li {
  color: #284900;
  list-style: none;
  margin-left: 20px;
  display: flex;
}


a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  max-width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 4px 2px 25px;
  position: relative;
  line-height: 1.3;
  border-radius: 3px;
}
a > .level {
  display: inline-block;
  background-color: currentColor;
  font-size: 85%;
  font-weight: bold;
  width: 2.7ex;
  height: 2.7ex;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  left: 2px;
  top: 2px;
  padding-top: 1px;
}
a > .level:before {
  content: attr(data-level);
  color: white;
}

li.hidden {
  color: black;
  text-decoration: line-through;
  opacity: 0.5;
}
.result:not(.show-hidden) li.hidden {
  display: none;
}

.result.mark-visuallyhidden li.visuallyhidden .level:before {
  color: inherit;
}
.result.mark-visuallyhidden li.visuallyhidden .level {
  border: 1px dashed;
  background: white;
}

li.wrong-level {
  color: #AF3A37;
}

a:hover {
    background-color: currentColor;
}
a:hover > .text {
   color: white;
}
a:hover > .level {
  background-color: transparent;
}







header {
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}
legend {
  margin-right: 1em;
  font-weight: bold;
}
@media (min-width: 340px) {
  legend {
    float: left;
  }
}
.options {
  display: flex;
  flex-wrap: wrap;
}
.options .input {
  margin-right: 2em;
}
.count {
  background: #ddd;
  border-radius: 4px;
  padding: 1px 3px;
}
.tooltip {
  position: relative;
}
.tooltip:before {
  content: 'ℹ️';
}
.tooltip:focus:after,
.tooltip:hover:after {
  content: attr(title);
  position: absolute;
  background: white;
  padding: 4px 10px;
  top: 70%;
  left: 70%;
  width: 10em;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  white-space: normal;
  border-radius: 8px;
  border-top-left-radius: 0;
  z-index: 1;
  pointer-events: none;
}

.button-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  font-size: inherit;
  color: white;
  background-color: #284900;
  cursor: pointer;
}
.button-close:hover {
  color: white;
  background-color: #284900;
}


